<%- include('partials/header') %>


<div class="jumbotron centered all">
  <div class="container">
    <i class="fas fa-user-secret fa-5x"></i>
    <h1 class="display-3 Font">Secrets</h1>
    <p class="lead">Do you want to share your secrets ?</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg btnn" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
